html {
  background-color: #e2e2e2;
}

body {
  margin: 2em auto;
  max-width: 35em;

  background-color: #fff;
  border: 1px solid #ccc;
}

section {
  padding: 4em 1em;
  position: relative;

  border-bottom: 1px solid #ccc;
}

section:nth-child(5) {
  border: 0;
}

div {
  position: absolute;
  right: 1em;
  top: 0;
}

.box {
  height: 100px;
  top: calc(50% - 50px);
  width: 200px;

  background-color: limegreen;
  transition: all 250ms ease;
  opacity: 0;
}


.js-btn-show-hide {
opacity: 100;
}

.diamond {
  height: 80px;
  right: -28em;
  top: calc(50% - 40px);
  width: 80px;

  background-color: hotpink;
  transform: rotate(45deg);
  position: absolute;

  transition: all 250ms ease;
}

.js-btn-move {
  right: 2em;
}

.panel {
  width: 250px;
  top: 50%;

  background-color: yellow;
  transform: translateY(-50%);

  color: darkgoldenrod;
  text-align: center;
  overflow: hidden;
  transition: all 250ms ease-out;
  max-height: 7em;
}

.panel h2 {
  margin: 0;
  padding: 3rem 0;
}

.js-panel {
  max-height: 0em;
}

.circle {
  height: 100px;
  top: calc(50% - 50px);
  width: 100px;
  border-radius: 40%;
  background-color: orange;
}

.js-circle-bounce {
  -webkit-animation: circle-bounce 1s linear;
  animation: circle-bounce 1s linear;
}


@-webkit-keyframes circle-bounce {
  0% { right: 10px; top: 0px; }
  40% { right: 30px; top: 50px; }
  60% { right: 50px; top: 20px; }
  80% { right: 70px; top: 60px; }
  100% { right: 90px; top: 30px; }
}

@keyframes circle-bounce {
  0% { right: 10px; top: 0px; }
  40% { right: 30px; top: 50px; }
  60% { right: 50px; top: 20px; }
  80% { right: 70px; top: 60px; }
  100% { right: 90px; top: 30px; }
}


.list {
  bottom: 1em;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1em;
  top: 1em;
  width: 250px;

  border: 1px solid #ccc;
  overflow: hidden;
  overflow-y: auto;
  transition: all 250ms ease-out;
}


.list li {
  padding: 0.5em;

  background-color: plum;
  border: 1px solid mediumpurple;

  color: mediumpurple;
  max-height: 6em;
}
